body {
  margin: 0;
  background: #1e1e1e;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #252526;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar button {
  margin-top: auto;
  padding: 8px;
  background: #0e639c;
  color: white;
  border: none;
  cursor: pointer;
}

/* FILES */
.file {
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
}

.file:hover {
  background: #333;
}

/* EDITOR */
.editor {
  flex: 1;
}

#editor {
  width: 100%;
  height: 100vh;
}

/* PREVIEW */
.preview {
  width: 40%;
  background: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
